* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: sans-serif;
    font-size: 1.6rem;
    background-color: #f6edac;
    color: #121007;
}

.wrapper {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

/* task */

.task-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.polish-word {
    font-weight: bold;
    font-size: 2.6rem;
}

.type-word {
    font-size: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #121007;
}

.type-word::placeholder {
    font-style: italic;
}

.type-word:focus {
    outline: none;
}

.task-btn {
    padding: 10px 15px;
    font-size: 1.6rem;
    border: none;
    border-radius: 8px;
    background-color: #1abb92;
    /* color: #cce980; */
    transition: background-color .3s;
    cursor: pointer;
}

.task-btn:hover {
    background-color: #1a4026;
}





/* colors
.color1 {color: #121007;}
.color2 {color: #1a4026;}
.color3 {color: #1abb92;}
.color4 {color: #cce980;}
.color5 {color: #f6edac;}
 */